IF OBJECT_ID('DSRetentionAndroid') IS NOT NULL
BEGIN
	DROP TABLE DSRetentionAndroid
END
GO
CREATE TABLE [dbo].[DSRetentionAndroid](
	[RegistrationYear] [nvarchar](20) NULL,
	[RegistrationMonth] [nvarchar](10) NULL,
	[CohortMonth] [int] NULL,
	[CountOfUsers] [int] NULL,
	[NumberOfRegisteredUsers] [decimal](10, 2) NULL
)
IF OBJECT_ID('DSRetentionIOS') IS NOT NULL
BEGIN
	DROP TABLE DSRetentionIOS
END
GO
CREATE TABLE [dbo].[DSRetentionIOS](
	[RegistrationYear] [nvarchar](20) NULL,
	[RegistrationMonth] [nvarchar](10) NULL,
	[CohortMonth] [int] NULL,
	[CountOfUsers] [int] NULL,
	[NumberOfRegisteredUsers] [decimal](10, 2) NULL
)
GO
INSERT [dbo].[DSRetentionAndroid] ([RegistrationYear], [RegistrationMonth], [CohortMonth], [CountOfUsers], [NumberOfRegisteredUsers]) VALUES (N'2018', N'1', 1, 77792, CAST(243562.00 AS Decimal(10, 2)))
INSERT [dbo].[DSRetentionAndroid] ([RegistrationYear], [RegistrationMonth], [CohortMonth], [CountOfUsers], [NumberOfRegisteredUsers]) VALUES (N'2018', N'1', 2, 56597, CAST(243562.00 AS Decimal(10, 2)))
INSERT [dbo].[DSRetentionAndroid] ([RegistrationYear], [RegistrationMonth], [CohortMonth], [CountOfUsers], [NumberOfRegisteredUsers]) VALUES (N'2018', N'1', 3, 43892, CAST(243562.00 AS Decimal(10, 2)))

INSERT [dbo].[DSRetentionIOS] ([RegistrationYear], [RegistrationMonth], [CohortMonth], [CountOfUsers], [NumberOfRegisteredUsers]) VALUES (N'2018', N'1', 1, 23546, CAST(68860.00 AS Decimal(10, 2)))
INSERT [dbo].[DSRetentionIOS] ([RegistrationYear], [RegistrationMonth], [CohortMonth], [CountOfUsers], [NumberOfRegisteredUsers]) VALUES (N'2018', N'1', 2, 17883, CAST(68860.00 AS Decimal(10, 2)))
INSERT [dbo].[DSRetentionIOS] ([RegistrationYear], [RegistrationMonth], [CohortMonth], [CountOfUsers], [NumberOfRegisteredUsers]) VALUES (N'2018', N'1', 3, 13951, CAST(68860.00 AS Decimal(10, 2)))
GO
